body {
  margin: 0;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(246, 237, 237);
}

code {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* RGB(0, 16, 101) */